@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-thin';
  src: url('montserrat/Montserrat-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 900px) {
  .conjunto-sobre {
    display: grid;
    grid-template-columns: [hard-inicio]1fr[hard-end conheca-inicio] 0px [conheca-end];
    grid-template-rows: auto auto;
    gap: 40px;
    justify-items: center;
  }

  .painel-competencias {
    grid-column: hard-inicio / hard-end;
    grid-row: 1;
    width: 90%;
  }

  .conheca {
    grid-column: hard-inicio / harde-end;
    grid-row: 2;
    width: 90%;
  }
}
.localizacao{
    display: flex;
    justify-content: center;
    font-size: 30px-;
}
.cabecalho{
    display: grid;
    grid-template-columns: [button-inicio] 40% [button-end titulo-inicio] 20% [titulo-end espaco-inico] 40% [espaco-end];
    grid-template-rows: [cabecalho-inicio]80px [cabecalho-end];
}
.home{
    grid-column: buttonHome-inicio / buttonHome-end;
}
.sobre{
    grid-column: buttonSobre-inicio / buttonSobre-end;
}
.projetos{
    grid-column: buttonProjetos-inicio / buttonProjetos-end;
}
.contato{
    grid-column: buttonContato-inicio / buttonContato-end;
}
.titulo{
    grid-column: titulo-inicio / titulo-end;
    font-size: 30px;
}
.titulo-inicio{
    display: flex;
    justify-content: center;
}
.buttons{
    grid-columns: button-inicio / button-end;
    grid-row: cabecalho-inicio / cabecalho-end;
    display: grid;
    grid-template-columns:[buttonHome-inicio] 124px [buttonHome-end buttonSobre-inicio] 124px [buttonSobre-end buttonProjetos-inicio  ] 124px [buttonProjetos-end buttonContato-inicio] 124px [buttonContato-end] ;

    padding-inline-start: 30px;
    
}
a{
    text-decoration: none;
    outline: none;
}
body{
    color: white;
    background-color: black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* .home, .sobre, .projetos, .contato{
} */


.button{
    text-align: center;
    margin-top: 40px;
    color: white;

}
.home:hover, .sobre:hover, .projetos:hover, .contato:hover{
    color: goldenrod;
    background-color: #1d1d1d;
}
.projeto-atalho{
    display: flex;
    justify-content: center;
}
.button-projetos{
    width: 100px;
    display: flex;
    justify-self: center;
    text-decoration: none;
    padding: 20px 35px;
    background-color: #393A3B;
    color: white;
    text-align: center;
    margin-top: 20px;

}
.mouse-icon{
    height: 80px;
}
.imagem{
    display: flex;
    justify-content: center;
}

.button-projetos:hover{
    background-color: aliceblue;
    color: #393A3B;
}

.linkedin, .instagram, .git{
    height: 22px;
    margin-bottom: 26px;

}
.email{
    height: 13px;
    margin-bottom: 28px;
}
.painel{
    display: grid;
    grid-template-columns:  [rede-inicio] 40px [rede-end contactme-inicio] 20px [contactme-end conteudo-inicio] auto [conteudo-end];
    /* grid-template-rows: ; */
}
.contact{
    grid-column: rede-inicio / rede-end;
    margin-bottom: 70px;
    margin-left: 0;
    height: 90px;
    justify-content: space-between;
    background-color: #393A3B;
    height: 160px;
    margin-top: 90px;
    padding: 12px;
    padding-left: 8px;
    padding-top: 30px;
    padding-bottom: 40px;
    float: right;

}
.conteudo{
    grid-column: conteudo-inicio / conteudo-end;
    --background-color: white;
    height: 450px;
    width: 1380px;
}
.contact-me{
    grid-column: contactme-inicio / contactme-end;
    height: 5px;
    width: 10px;
    margin-inline: 10px ;
    padding-top: 130px;
    font-size: 12px;;
    text-align: center;
}
.me{
    margin-top: 2px;
    height: 1px;
}
/* .conjunto-button{
    display:flex
} */
.painel-sobre-response{
    display: flex;
    justify-content: center;
}
.painel-sobre{
    align-items: center;
    justify-content: center;
    margin-top: 350px;
    text-align: center;
    height: 250px;
}
.titulo-sobre{
    display:flex;
    position: absolute;
    left: 38%;
    height: 100px;
}
.titulomim{
    text-align: center;
    font-size: 35px;
    letter-spacing: 12px;
}
.titulo-resumo{
    margin-top:56px;
    color: #393A3B;
}
.sublinhado{
    height: 4px;
    width: 340px;
    background-color: #393A3B;
    position: absolute;
    top: 80px;
}
.sobre-desc{
    position:absolute;
    left:20%;
    margin-top: 100px;
    letter-spacing: 4px;
    font-family: 'Montserrat-thin';
}


.titulo-container{
    font-size: 22px;
    letter-spacing: 12px;
}
.linha{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.container{
    padding-inline: 22px;
    padding-bottom: 20px;
    margin: 7px 7px 7px 0px;
    background-color: #393A3B;
    justify-content: space-between;
    height: 30px;
    width: 80px;
    color: white;
    border-radius: 5px;
    font-family: Montserrat-thin;
}
.container-vazio{
    padding-inline: 22px;
    padding-bottom: 20px;

    justify-content: space-between;
    height: 30px;
    width: 80px;
}
.rasura{
    height: 1px;
    width: 340px;
    background-color:white;
    position:relative;
    bottom: 35px

}

.conheca-me{
    font-size: 15px;
    font-family: Montserrat-thin;
    letter-spacing: 3px;
}
.link{
    color: #FFA500;
}
.button-contato{
    text-align: center;
    height: 20px;
    width: 180px;
    padding: 20px;

    letter-spacing: 4px;
    background-color: #393A3B;
    color: white;
}
.button-contato:hover{
    background-color: aliceblue;
    color: #393A3B;
}

.conjunto-sobre{
    display: grid;
    grid-template-columns: [hard-inicio]400px[hard-end conheca-inicio] 400px [conheca-end];
    gap: 7%;
}
.painel-margens{
    margin-inline: 20%;
}
.conheca{
    grid-column: conheca-inicio / conheca-end;

    
}
.painel-competencias{
    grid-column: hard-inicio / hard-end;
}